.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    min-height: min-content;
    flex-grow: 1;
    background: var(--snow-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
