@import '../../../src/styles/theme.module.scss';

.itemInformationContainer {
    padding: 20px;
    border: 1px solid #000000;
    background-color: $white;
}
.div1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.emptyDiv {
    width: 320px;
}
.paymentContainer {
    width: 320px;
}
.divider {
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr2 {
    border: 1px solid #000000;
}
.spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.span1 {
    font: $small-text;
}
.div5 {
    font: $extra-small-text;
}
.span2 {
    font: $extra-small-text;
}
.informationContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #000000;
    background-color: $white;
    margin-top: 40px;
}
.ul1 {
    font: $extra-small-text;
}
.ul2 {
    font: $extra-small-text;
}
.ul3 {
    font: $extra-small-text;
}
.header1 {
    font: $medium-title;
    margin-bottom: 10px;
}
.header2 {
    font: $medium-title;
    margin-bottom: 10px;
}
.header3 {
    font: $medium-title;
    margin-bottom: 10px;
}
.div2 {
    display: flex;
    justify-content: space-between;
}
