.content {
    padding: 1em;
}

.itemImage {
    display: inline-block;
    margin-right: 0.5em;
}

.searchItem {
    padding: 1em;
    background-color: lightblue;
    margin-top: 1em;
    border-radius: 5px;
}